 <div ng-style="todoCard.style"
 	  class="todo-card">
	<div class="todo-card-header clearfix">
		<div class="todo-control-panel pull-right">
			<span ng-click="todoCard.deleteTodoCard(todoCard.cardId, todoCard.blockId)" 
				  class="todo-control fa fa-times" aria-hidden="true"></span>
			<span ng-click="todoCard.editTodoCard({
				title: 		 todoCard.title, 
				description: todoCard.description, 
				bgcolor: 	 todoCard.bgcolor
			}, todoCard.cardId, todoCard.blockId)" 
				  class="todo-control fa fa-pencil" aria-hidden="true"></span>
		</div>
		<h4>
			{{ todoCard.title }}
		</h4>
	</div>
	<div class="todo-card-content">
		<p>
			{{ todoCard.description }}
		</p>
	</div>
	<div class="todo-card-footer">
		<div class="todo-btn-group">
			<a class="todo-btn" role="button" ng-click="todoCard.moveLeft()">Left</a>
			<a class="todo-btn" role="button" ng-click="todoCard.moveRight()">Right</a>
		</div>
	</div>
</div>
