html {
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.clearfix:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pull-right {
	float: right;
}