html {
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.clearfix:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

label {
	cursor: pointer;
}

.pull-right {
	float: right;
}

.main {
	padding: 15px 0;
}

.block-center {
	position: absolute;
  	top:0;
  	bottom: 0;
  	left:0;
  	right:0;
  	margin: auto;
}

.text-center {
	text-align: center;
}

.todo-fill {
  @extend .block-center;
  background-color: rgba(0, 0, 0, 0.5);
}