.todo {
	&-container {
		display: -webkit-box; 
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;
  		justify-content: space-around;

  		flex-wrap: wrap;

	}

	&-block {
		width: 300px;
		border: 1px solid $headerColor;


		@include transition(border 1s ease-out);
		@include borderRadius($generalRadius);

		&-header {
			background-color: $headerColor;
			@include transition(background-color 1s ease-out);
			padding: 10px;
			@include borderRadius($generalRadius);
		}

		&-content {
			padding: 10px;
			
			> :not(:first-child) {
				margin-top: 10px;
			}
		}
	}

}