<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<meta charset="utf-8">
	<title>Todo</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="./dist/app-bundle.css">
</head>
<body ng-controller="todoContainerController as todoContainer">
	<header class="todo-header">
		<todo-header></todo-header>
	</header>
	
	<div class="todo-fill" ng-show="todoContainer.showLockFillState">
		<todo-edit-window></todo-edit-window>	
	</div>

	<main class="main">
		<div class="todo-container">			
			<todo-block ng-repeat="todoBlock in todoContainer.todos"
						id="todoBlock._id"
						title="todoBlock.title"
						bgcolor="todoBlock.bgcolor"
						todo-cards="todoBlock.cards">
			</todo-block>
		</div>
	</main>	

	<script src="https://use.fontawesome.com/adff4fbbf5.js" async></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js" defer></script>
	<script src="./dist/app-bundle.js" defer></script>
</body>
</html>